.back{
    background-color: #205081;
    width: 100%;
}

.headings{
    color: ffffff;
    text-align: center;
    text-decoration:underline;
}

ul{
    list-style: none;
}

ul li a{
    color: darkcyan;
}

ul li a:hover{
    color:#26DBFF;
    text-decoration: none;
}